@model IEnumerable<DalToWeb.Models.OrderReportTemplate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TemplateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintBackground)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintDayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintEditionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintBackground)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintDayOfWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintEditionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderReportTemplateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderReportTemplateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderReportTemplateId })
        </td>
    </tr>
}

</table>
