@model IEnumerable<DalToWeb.Models.ReaderOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Book
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            Date of issue
        </th>
        <th>
            Expiry date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @{
                string s = item.Exemplar.Edition.EditionTitle + " " + "( " + item.Exemplar.ExemplarId + " )";
            }
            <text>@s</text>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderOrderDateOfIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderOrderExpiryDate)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Edit", "Edit", new { id = item.ReaderOrderId, editionId = item.Exemplar.EditionId });
            @Html.ActionLink("Delete", "Delete", new { id = item.ReaderOrderId });
            }         
        </td>
    </tr>
}

</table>
