@model IEnumerable<DalToWeb.Models.ReaderOrder>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>
<!-- Modal -->
<div class="modal fade" id="modalDialogDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Generate report</h4>

            </div>
            

            @using (Html.BeginForm("Generate", "Document", FormMethod.Post))
            {
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Choose template</label>
                    <div class="col-md-10">
                        @Html.DropDownList("templateId", ViewBag.DocumentTemplates as SelectList, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-file"></span>
                    Generate
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>
<button id="modalDialogDocumentButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDialogDocument">Generate report</button>
<table class="table">
    <tr>
        <th>
            Book
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            Date of issue
        </th>
        <th>
            Expiry date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @{
                string s = item.Exemplar.Edition.EditionTitle + " " + "( " + item.Exemplar.ExemplarId + " )";
            }
            <text>@s</text>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderOrderDateOfIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderOrderExpiryDate)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Edit", "Edit", new { id = item.ReaderOrderId, editionId = item.Exemplar.EditionId });
            }
            <text>|</text>
            @if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Delete", "Delete", new { id = item.ReaderOrderId });
            }
        </td>
    </tr>
}

</table>
