@model IEnumerable<DalToWeb.Models.ReaderOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exemplar.ExemplarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReaderOrderDateOfIssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReaderOrderExpiryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exemplar.ExemplarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderOrderDateOfIssue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReaderOrderExpiryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReaderOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReaderOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReaderOrderId })
        </td>
    </tr>
}

</table>
