<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Authentication Sample</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")  
    <link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Library", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("User") || User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Books", "Index", "Edition")</li>
                        <li>
                            <a href="@Url.Action("Index", "ReaderOrder")" class="btn btn-warning">
                                Orders
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            </a>
                        </li>
                    }                 
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Edition settings
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Houses", "Index", "House")</li>
                                <li>@Html.ActionLink("Authors", "Index", "Author")</li>
                                <li>@Html.ActionLink("Cities", "Index", "City")</li>
                                <li>@Html.ActionLink("Languages", "Index", "Language")</li>
                                <li>@Html.ActionLink("Genres", "Index", "Genre")</li>
                                <li>@Html.ActionLink("Exemplars", "Index", "Exemplar")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                User settings
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Users", "Index", "User")</li>
                                <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                            </ul>
                        </li>
                    }                 
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BSUIR</p>
        </footer>
    </div>    
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"
            integrity="sha256-eEa1kEtgK9ZL6h60VXwDsJ2rxYCwfxi40VZ9E0XwoEA="
            crossorigin="anonymous"></script>
    <script>
        $(".dpicker").datepicker({ dateFormat: 'dd.mm.yy' });
        var startdate = new Date();
        var days = 10;
        var date = new Date();
        var enddate = new Date(date.setTime(date.getTime() + days * 86400000));
        $(".dpickerorder").datepicker({ dateFormat: 'dd.mm.yy', minDate: startdate, maxDate: enddate});
        $(".dpickerorder").datepicker("setDate", startdate );
        $(".dpicker").prop("readonly", true);
        $(".dpickerorder").prop("readonly", true);
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
