@model IEnumerable<DalToWeb.Models.Edition>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            Author(s)
        </th>
        <th>
            Cover
        </th>
        <th>
            Title
        </th>
        <th>
            Year
        </th>
        <th>
            Genres
        </th>
        <th>
            House
        </th>
        <th>
            Language
        </th>      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @foreach (var author in item.Authors)
            {
                <text>@author.FullName</text><br />
            }
        </td>
        @{
            var imgSrc = string.Empty;
            if (item.EditionImage != null)
            {
                var base64 = Convert.ToBase64String(item.EditionImage);
                imgSrc = string.Format("data:image/gif;base64,{0}", base64);
            }
        }
        <td>
            <img src='@imgSrc' style="height: 100%; width:50%" class="col-md-2" alt="No image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditionYear)
        </td>
        <td>
            @foreach (var genre in item.Genres)
            {
                <text>@genre.GenreName</text><br/>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House.HouseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language.LanguageName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EditionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EditionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EditionId })
        </td>
    </tr>
}

</table>
