@model DalToWeb.Models.EditionType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EditionType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EditionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditionTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditionTypeDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EditionTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
